

@media (min-width: 768px) and (max-width:1025px){
    .blue{
        padding:30px 0;
    }
#work {
        .contentbox {
            padding: 30px 20px;
        }
        .imgbox {
            position: static;
        }
    }
    .crm{
    	padding:30px 20px;
    	.contentbox{
    		padding:30px 0;
    	}
        .img-responsive{
            position: inherit;
            max-width: 100%;
        }
    }
    .dashboard{
   
    	.contentbox{
    		padding:30px 20px;
    	}
        .img-responsive {
            position: inherit;
            max-width: 110%;
            left: 0;
        }
    }
    .biryani {
            
            
    }
    .contentbox {
        h2 {
            font-size: 2.5rem;
        }
    }
    br{
    	display:none;
    }
    #services{
    	padding:15px 0;
    }
    .blue{
    	h1{
    		font-size:3.5rem;
    	}
    }
    .m-center{
    	text-align:center !important;
    }
#services .list-group-item:hover .d {
    opacity: 1;
    display:block;
    margin:10px 0;
    position: static;
}
#services .ouroffer {
    width: 30%;
    padding: 0 1.25rem;
}

}


@media (max-width: 767px) {
    .blue{
        padding:30px 0;
    }
    .navbar-toggle {
        margin-top: 20px;
    }
    .jumbotron {
        padding: 15px 0;
        h1 {
            font-size: 3.5rem;
            margin: 10px 0 !important;
            text-align: center;
        }
    }
    #work {
        .contentbox {
            padding: 15px 20px
        }
        .imgbox {
            position: static;
        }
    }
    .crm{
    	padding:15px 0;
    	.contentbox{
    		padding:15px 20px;
    	}
        .img-responsive{
            position: inherit;
            max-width: 100%;
        }
    }

    .dashboard{
    	.img-bg{
    	}
    	.contentbox{
    		padding:15px 20px;
    	}
        .img-responsive {
            position: inherit;
            max-width: 100%;
            left: 0;
        }
    }
    
    .contentbox {
        h2 {
            font-size: 2.5rem;
        }
    }
    br{
    	display:none;
    }
    #services{
    	padding:15px 0;
    }
    .blue{
    	h1{
    		font-size:3.5rem;
    	}
    }
    .m-center{
    	text-align:center !important;
    }
    #services .list-group-item:hover .d {
    opacity: 1;
    display:block;
    margin:10px 0;
    position: static;
}
.d{
    margin-left:0px;
    margin-right:0px;
}
.jumbotron.bg-white {
    margin: 40% 0 30% 0;
}
.biryani .contentbox {
    padding: 10% 20px;
}
#services .container .offeritem .ouroffer ul {
    margin: 10px 0 30px 0;
    padding: 0;
}
#services .container h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    margin: 30PX 20PX;
}
#services .container h6 {
    margin: 0 20PX;
}

}